// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Colors
@grey-dark: #e1e4e8;
@grey-med: #ecedef;
@grey-light: #fafbfc;

// Vars
@main-width: 960px;
@header-height: 180px;
@nav-width: 120px;
@content-pad: 10px;
@content-space: 6px;


html {
    background: @grey-med;
}

body {
    margin: 0px;
}

.main {
    width: @main-width;
    margin: auto;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
}

.header {
    width: @main-width;
    height: @header-height;
    margin-bottom: @content-space;

    canvas {
        width: 100%;
        height: 100%;
        background-color: @grey-light;
    }
}

.content {
}

.nav {
    float: left;
    width: @nav-width;
    padding: @content-pad;
    background-color: @grey-light;
}

.link {
    text-align: right;
}

.page {
    margin-left: @nav-width + 2 * @content-pad + @content-space;
    padding-top: @content-pad;
    padding-left: 3 * @content-pad;
    padding-bottom: 2 * @content-pad;
    background-color: @grey-light;
}
