// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Colors
@grey-dark: #e1e4e8;
@grey-med: #ecedef;
@grey-light: #fafbfc;

// Vars
@side-width: 180px;
@content-width: 960px;
@content-pad: 10px;
@content-space: 6px;
@div-bg-opacity: 85%;


html {
    background: @grey-med;
}

body {
    margin: 0px;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;

    canvas {
        width: 100%;
        height: 100%;
        background-color: @grey-light;
    }
}

.content {
    width: @content-width;
    margin: auto;
    margin-top: @content-space;

    .side {
        float: left;
        width: @side-width;
        
        // font
        font-family: 'Open Sans', sans-serif;
        font-size: 11pt;
        text-align: right;

        .header {
            margin-bottom: @content-space;
            padding: @content-pad;
            background-color: fade(@grey-light, @div-bg-opacity);
        
            img {
                width: 100%;
                height: auto;
            }

            .info {
                font-style: italic;
                text-align: left;
                font-size: 10pt;
            }
        
            a, a:visited {
                display: block;
                color: black;
                text-decoration: none;
            }
            a:hover { color: hotpink; }
            a:active { color: skyblue; }
        }
    
        .nav {
            padding: @content-pad;
            background-color: fade(@grey-light, @div-bg-opacity);
        }
        
        .link {
            a, a:visited {
                color: black;
                text-decoration: none;
                font-weight: bold;
            }
            a:hover { color: seagreen; }
            a:active { color: skyblue; }
        }
    }
    
    .page {
        margin-left: @side-width + @content-space;
        padding-top: 3 * @content-pad;
        padding-left: 3 * @content-pad;
        padding-right: 4 * @content-pad;
        padding-bottom: 5 * @content-pad;
        background-color: fade(@grey-light, @div-bg-opacity);
    }
}
