@bg-grey: #f7f7f7;


.main {
    margin: 0px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: @bg-grey;
}

.page {
    width: 100%;
}

.nav {
    float: left;
    width: 120px;
}
